---
layout: default
---

<div class="content container">
  <h1 class="page-heading">Blog</h1>
  {% for post in site.posts %}
    <section class="post-list row">
      <div class="post-meta three columns">
        {{ post.date | date: "%b %-d, %Y" }}
      </div>
      <div class="project-link nine columns">
        <h3>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h3>
        <p class="post-excerpt">
          {{ post.content | strip_html | truncatewords: 20 }}
        </p>
      </div>
    </section>
  {% endfor %}
</div>
