<footer>
  <div class="row">
    <div class="offset-by-three six columns">
      <ul>
        <li>
          <a href="mailto:contact@mnewton.com">Contact</a>
        </li>
        <li>
          {{ site.title }}
        </li>
        <li>
          <a type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">RSS</a>
        </li>
    </div>
  </div>
</footer>
