<div class="navbar row">
  <div class="header-title six columns">
    <ul>
      <li>
        <a href="{{ site.www }}">Matthew Sojourner Newton</a>
      </li>
    </ul>
  </div>
  <div class="header-links six columns">
    <ul>
      <li>
        <a href="https://www.mnewton.com/consulting/">Consulting</a>
      </li>
      <li>
        <a href="https://www.mnewton.com/projects/">Projects</a>
      </li>
      <li>
        <a href="https://blog.mnewton.com/">Blog</a>
      </li>
    </ul>
  </div>
</div>
