<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <script type="text/javascript">
    if (window.location.host.indexOf("{{ site.domainname }}") > -1 && window.location.origin != "{{ site.origin }}"){
        window.location.href = "{{ site.origin }}" + window.location.pathname;
    }
  </script>

  <!--[if lt IE 9]>
    <script src="/js/html5shiv.min.js"></script>
  <![endif]-->

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <link rel="icon" type="image/png" href="images/favicon.png">
</head>
