<script type='text/javascript'>
  // Wrap contents of header elements with span so that they can be highlighted
  Array.prototype.forEach.call(document.querySelectorAll("h1,h2,h3,h4"),
    function (e) {
      e.innerHTML = "<span>" + e.innerHTML + "</span>";
    });
</script>
