html
  background-color: $background-color
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

body
  font-family: $base-font-family
  font-size: $base-font-size
  color: $base-text-color

// links
a
  text-decoration: none
  color: $link-color
  // animate the anchor color on hover in/out
  transition: color 1s ease-in-out
  -moz-transition: color 1s ease-in-out
  -webkit-transition: color 1s ease-in-out

a:hover
  text-decoration: none
  color: $link-color * 0.7

// headings
h1, h2, h3, h4
  font-family: $heading-font-family
  font-weight: $heading-font-weight
h1
  font-size: 48pt
  padding-top: 1em
  text-align: center
  span
    background-color: $link-color
    color: $background-color
  a
    color: $background-color

h2
  font-size: 28pt
  span
    background-color: $link-color2
    color: $background-color

h3
  font-size: 22pt
  span
    background-color: $link-color3
    color: $background-color

h4
  font-family: $code-font-family
  font-size: 14pt
  font-weight: bold
  line-height: 1.3em
  span
    background-color: $link-color4
    color: $link-color
