// header
.navbar
  margin: 30px 0 30px 0
  ul
    list-style: none
    li
      margin: 0

  .header-title
    padding-left: 5rem
    li
      float: left
      font-family: $heading-font-family
      font-size: 2.4rem
  .header-links
    padding-right: 5rem
    li
      float: right
      padding-left: 2.4rem
      padding-top: .5rem
      font-family: $heading-font-family

@media (max-width: 750px)
  .navbar
    .header-title, .header-links
      padding: 0
      margin: 0
      width: 100%
      li
        padding: 0
        float: none
        text-align: center


// splash
.splash-container
  background-color: $link-color

.splash
  h1, h2, h4
    text-align: center
  h1, h2
    font-family: $heading-font-family
    font-weight: $heading-font-weight
  h1.bottom-padded
    padding-bottom: .75em
  h1, h2
    // padding: 80pt
    span
      background: transparent
  h1 span
    color: $background-color
  h2 span
    color: $link-color * 0.7
  h1
    font-size: 100px
    line-height: 85px
  h2
    font-size: 57px
    line-height: 57px
  h4 span
    background: transparent
    color: $background-color
    a
      color: $link-color * 2
  p
    color: $background-color

@media (max-width: 750px)
  .splash
    h1
      font-size: 64px
      line-height: 54px
    h2
      font-size: 36px
      line-height: 36px

// gradients for background
.gradient-pattern
  background-color: $base-gradient
  background: -webkit-linear-gradient(90deg, rgba($base-gradient*1.5,0) 20%, rgba($base-gradient*1.5,0.0980392) 20%, rgba($base-gradient*1.5,0.0980392) 40%, rgba($base-gradient*1.5,0.2) 40%, rgba($base-gradient*1.5,0.2) 60%, rgba($base-gradient*1.5,0.4) 60%, rgba($base-gradient*1.5,0.4) 80%, rgba($base-gradient*1.5,0.6) 80%), -webkit-linear-gradient(180deg, rgba($base-gradient*1.5,0) 20%, rgba($base-gradient*1.5,0.0980392) 20%, rgba($base-gradient*1.5,0.0980392) 40%, rgba($base-gradient*1.5,0.2) 40%, rgba($base-gradient*1.5,0.2) 60%, rgba($base-gradient*1.5,0.4) 60%, rgba($base-gradient*1.5,0.4) 80%, rgba($base-gradient*1.5,0.6) 80%), rgba($base-gradient,1)
  background: -moz-linear-gradient(0deg, rgba($base-gradient*1.5,0) 20%, rgba($base-gradient*1.5,0.0980392) 20%, rgba($base-gradient*1.5,0.0980392) 40%, rgba($base-gradient*1.5,0.2) 40%, rgba($base-gradient*1.5,0.2) 60%, rgba($base-gradient*1.5,0.4) 60%, rgba($base-gradient*1.5,0.4) 80%, rgba($base-gradient*1.5,0.6) 80%), -moz-linear-gradient(-90deg, rgba($base-gradient*1.5,0) 20%, rgba($base-gradient*1.5,0.0980392) 20%, rgba($base-gradient*1.5,0.0980392) 40%, rgba($base-gradient*1.5,0.2) 40%, rgba($base-gradient*1.5,0.2) 60%, rgba($base-gradient*1.5,0.4) 60%, rgba($base-gradient*1.5,0.4) 80%, rgba($base-gradient*1.5,0.6) 80%), rgba($base-gradient,1)
  background: linear-gradient(0deg, rgba($base-gradient*1.5,0) 20%, rgba($base-gradient*1.5,0.0980392) 20%, rgba($base-gradient*1.5,0.0980392) 40%, rgba($base-gradient*1.5,0.2) 40%, rgba($base-gradient*1.5,0.2) 60%, rgba($base-gradient*1.5,0.4) 60%, rgba($base-gradient*1.5,0.4) 80%, rgba($base-gradient*1.5,0.6) 80%), linear-gradient(-90deg, rgba($base-gradient*1.5,0) 20%, rgba($base-gradient*1.5,0.0980392) 20%, rgba($base-gradient*1.5,0.0980392) 40%, rgba($base-gradient*1.5,0.2) 40%, rgba($base-gradient*1.5,0.2) 60%, rgba($base-gradient*1.5,0.4) 60%, rgba($base-gradient*1.5,0.4) 80%, rgba($base-gradient*1.5,0.6) 80%), rgba($base-gradient,1)

.cube-pattern
  background-color: $base-gradient
  background-image: linear-gradient(30deg, $base-gradient*1.05 12%, transparent 12.5%, transparent 87%, $base-gradient*1.05 87.5%, $base-gradient*1.05), linear-gradient(150deg, $base-gradient*1.05 12%, transparent 12.5%, transparent 87%, $base-gradient*1.05 87.5%, $base-gradient*1.05), linear-gradient(30deg, $base-gradient*1.05 12%, transparent 12.5%, transparent 87%, $base-gradient*1.05 87.5%, $base-gradient*1.05), linear-gradient(150deg, $base-gradient*1.05 12%, transparent 12.5%, transparent 87%, $base-gradient*1.05 87.5%, $base-gradient*1.05), linear-gradient(60deg, $base-gradient*1.1 25%, transparent 25.5%, transparent 75%, $base-gradient*1.1 75%, $base-gradient*1.1), linear-gradient(60deg, $base-gradient*1.1 25%, transparent 25.5%, transparent 75%, $base-gradient*1.1 75%, $base-gradient*1.1)
  background-size: 80px 140px
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px

.seigaiha-pattern
  background-color: $base-gradient
  background-image: radial-gradient(circle at 100% 150%, $base-gradient*1.075 24%, $base-gradient 25%, $base-gradient 28%, $base-gradient*1.075 29%, $base-gradient*1.075 36%, $base-gradient 36%, $base-gradient 40%, transparent 40%, transparent), radial-gradient(circle at 0    150%, $base-gradient*1.075 24%, $base-gradient 25%, $base-gradient 28%, $base-gradient*1.075 29%, $base-gradient*1.075 36%, $base-gradient 36%, $base-gradient 40%, transparent 40%, transparent), radial-gradient(circle at 50%  100%, $base-gradient 10%, $base-gradient*1.075 11%, $base-gradient*1.075 23%, $base-gradient 24%, $base-gradient 30%, $base-gradient*1.075 31%, $base-gradient*1.075 43%, $base-gradient 44%, $base-gradient 50%, $base-gradient*1.075 51%, $base-gradient*1.075 63%, $base-gradient 64%, $base-gradient 71%, transparent 71%, transparent), radial-gradient(circle at 100% 50%, $base-gradient 5%, $base-gradient*1.075 6%, $base-gradient*1.075 15%, $base-gradient 16%, $base-gradient 20%, $base-gradient*1.075 21%, $base-gradient*1.075 30%, $base-gradient 31%, $base-gradient 35%, $base-gradient*1.075 36%, $base-gradient*1.075 45%, $base-gradient 46%, $base-gradient 49%, transparent 50%, transparent), radial-gradient(circle at 0    50%, $base-gradient 5%, $base-gradient*1.075 6%, $base-gradient*1.075 15%, $base-gradient 16%, $base-gradient 20%, $base-gradient*1.075 21%, $base-gradient*1.075 30%, $base-gradient 31%, $base-gradient 35%, $base-gradient*1.075 36%, $base-gradient*1.075 45%, $base-gradient 46%, $base-gradient 49%, transparent 50%, transparent)
  background-size: 100px 50px

.cicada-pattern
  background-color: $base-gradient
  background-image: linear-gradient(90deg, rgba($base-gradient*1.3,.07) 50%, transparent 50%), linear-gradient(90deg, rgba($base-gradient*1.3,.13) 50%, transparent 50%), linear-gradient(90deg, transparent 50%, rgba($base-gradient*1.3,.17) 50%), linear-gradient(90deg, transparent 50%, rgba($base-gradient*1.3,.19) 50%)
  background-size: 13px, 29px, 37px, 53px


// projects
.project-image
  img
    max-height: 100%
    max-width: 100%

.project-container
  padding-top: 40px

.right
  text-align: right

.center
  text-align: center

// code
code
  font-size: 85%
  background: #FFF

// posts
.post-list
  list-style-type: none

.post-meta
  text-align: right

@media (max-width: 750px)
  .post-meta
    text-align: left

.post-excerpt
  font-style: italic

// footer
footer
  ul
    padding-top: 8rem
    list-style: none
    text-align: center
    li
      display: inline-block
      padding: 1.2rem

@media (max-width: 750px)
  footer
    ul
      li
        display: block
