.language-ruby .token.function, .language-java .token.class-name,
.language-sql .token.number {
    color: #7B72E9
}

.token.keyword, .token.tag, .token.selector, .language-css .token.function,
.language-javascript, .language-coffeescript, .language-python,
.language-ruby, .language-java, .language-c, .language-c .token.property,
.language-go, .language-sql {
    color: #1B9AF7
}

.token.attr-value, .token.string, .token.regex, .language-c .token.number {
    color: #FC880F
}

.token.attr-name, .token.property, .token.number, .language-python .token.keyword,
.language-ruby .token.keyword, .language-java .token.function, .language-c .token.function,
.language-go .token.keyword, .language-sql .token.keyword {
    color: #8BD300
}

.token.function, .token.operator, .token.symbol, .token.builtin,
.token.builtin+.token.punctuation, .language-css, .language-javascript .token.function,
.language-coffeescript .token.keyword, .language-java .token.keyword,
.language-c .token.keyword {
    color: #ED4694
}

.token.comment, .token.punctuation, .language-go .token.operator {
    color: #b7b7b7
}

pre code {
    color: #626262
}