/*
    Name:       Base16 Monokai Light
    Author:     Wimer Hazenberg (http://www.monokai.nl)
    Pygments template by Jan T. Sott (https://github.com/idleberg)
    Created with Base16 Builder by Chris Kempson (https://github.com/chriskempson/base16-builder)
*/
.highlight .hll { background-color: #f5f4f1 }
.highlight  { background: #f9f8f5; color: #272822 }
.highlight .c { color: #a59f85 } /* Comment */
.highlight .err { color: #f92672 } /* Error */
.highlight .k { color: #ae81ff } /* Keyword */
.highlight .l { color: #fd971f } /* Literal */
.highlight .n { color: #272822 } /* Name */
.highlight .o { color: #a1efe4 } /* Operator */
.highlight .p { color: #272822 } /* Punctuation */
.highlight .cm { color: #a59f85 } /* Comment.Multiline */
.highlight .cp { color: #a59f85 } /* Comment.Preproc */
.highlight .c1 { color: #a59f85 } /* Comment.Single */
.highlight .cs { color: #a59f85 } /* Comment.Special */
.highlight .gd { color: #f92672 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gh { color: #272822; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #a6e22e } /* Generic.Inserted */
.highlight .gp { color: #a59f85; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #a1efe4; font-weight: bold } /* Generic.Subheading */
.highlight .kc { color: #ae81ff } /* Keyword.Constant */
.highlight .kd { color: #ae81ff } /* Keyword.Declaration */
.highlight .kn { color: #a1efe4 } /* Keyword.Namespace */
.highlight .kp { color: #ae81ff } /* Keyword.Pseudo */
.highlight .kr { color: #ae81ff } /* Keyword.Reserved */
.highlight .kt { color: #f4bf75 } /* Keyword.Type */
.highlight .ld { color: #a6e22e } /* Literal.Date */
.highlight .m { color: #fd971f } /* Literal.Number */
.highlight .s { color: #a6e22e } /* Literal.String */
.highlight .na { color: #66d9ef } /* Name.Attribute */
.highlight .nb { color: #272822 } /* Name.Builtin */
.highlight .nc { color: #f4bf75 } /* Name.Class */
.highlight .no { color: #f92672 } /* Name.Constant */
.highlight .nd { color: #a1efe4 } /* Name.Decorator */
.highlight .ni { color: #272822 } /* Name.Entity */
.highlight .ne { color: #f92672 } /* Name.Exception */
.highlight .nf { color: #66d9ef } /* Name.Function */
.highlight .nl { color: #272822 } /* Name.Label */
.highlight .nn { color: #f4bf75 } /* Name.Namespace */
.highlight .nx { color: #66d9ef } /* Name.Other */
.highlight .py { color: #272822 } /* Name.Property */
.highlight .nt { color: #a1efe4 } /* Name.Tag */
.highlight .nv { color: #f92672 } /* Name.Variable */
.highlight .ow { color: #a1efe4 } /* Operator.Word */
.highlight .w { color: #272822 } /* Text.Whitespace */
.highlight .mf { color: #fd971f } /* Literal.Number.Float */
.highlight .mh { color: #fd971f } /* Literal.Number.Hex */
.highlight .mi { color: #fd971f } /* Literal.Number.Integer */
.highlight .mo { color: #fd971f } /* Literal.Number.Oct */
.highlight .sb { color: #a6e22e } /* Literal.String.Backtick */
.highlight .sc { color: #272822 } /* Literal.String.Char */
.highlight .sd { color: #a59f85 } /* Literal.String.Doc */
.highlight .s2 { color: #a6e22e } /* Literal.String.Double */
.highlight .se { color: #fd971f } /* Literal.String.Escape */
.highlight .sh { color: #a6e22e } /* Literal.String.Heredoc */
.highlight .si { color: #fd971f } /* Literal.String.Interpol */
.highlight .sx { color: #a6e22e } /* Literal.String.Other */
.highlight .sr { color: #a6e22e } /* Literal.String.Regex */
.highlight .s1 { color: #a6e22e } /* Literal.String.Single */
.highlight .ss { color: #a6e22e } /* Literal.String.Symbol */
.highlight .bp { color: #272822 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #f92672 } /* Name.Variable.Class */
.highlight .vg { color: #f92672 } /* Name.Variable.Global */
.highlight .vi { color: #f92672 } /* Name.Variable.Instance */
.highlight .il { color: #fd971f } /* Literal.Number.Integer.Long */
